<% include headers%>
<title><%= title %></title> 
</head>
<body>
    <% include navigation%> 
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p-0">
                    <% if(typeof errors !== 'undefined'){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong><%= errors.passwordcategory.msg %></strong> 
                    </div>
                       <%}else if(typeof msg !== 'undefined'){%>
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong><%= msg %></strong> 
                    </div>
                    <%}else if(typeof successResponse !== 'undefined'){%>
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong><%= successResponse %></strong> 
                    </div>
                    <%}%>
                    <div class="card border-grey border-lighten-3 mt-3">
                        <div class="card-content">
                            <div class="card-header">
                                <h4>Add New Password</h4>
                            </div>
                            <div class="card-body">

                                <form action="/addNewPassword" method="post" class="form-horizontal">
                                    <div class="form-body" style=" padding: 10px 30px 0px ">
                                        <div class="form-group">
                                            <label>
                                                <h5>Choose Your Category:</h5>
                                            </label>
                                            <select class="form-control" name="passwordcategory">
                                                <option value="">Choose Your Category</option>
                                                <% if(data.length>0){ 
                                                data.forEach(function(row){%>
                                                <option value="<%= row.password_category_name %>"><%= row.password_category_name %></option>
                                                <%  })
                                                }%>
                                            </select>
                                        </div>  
                                        <div class="form-group">
                                            <label>
                                                <h5>Password Detail:</h5>
                                            </label>
                                            <textarea name="passdetails" class="form-control" id="editor" rows="5"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-secondary round">Add Password</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <p><a href="/viewAllPassword">View All Password List</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
</body>
</html>