<% include headers%>
<title><%= title %></title> 
</head>
<body>
    <% include navigation%> 
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p-0">
                    <div class="card border-grey border-lighten-3 mt-3">
                        <div class="card-content">
                            <div class="card-header">
                                <h4>Edit Password Detail</h4>
                            </div>
                            <div class="card-body">

                                <form action="/viewAllPassword/edit" method="post" class="form-horizontal">
                                    <div class="form-body" style=" padding: 10px 30px 0px ">
                                        <div class="form-group">
                                            <label>
                                                <h5>Choose Your Category:</h5>
                                            </label>
                                            <select class="form-control" name="passwordcategory">
                                                <option value="">Choose Your Category</option>
                                                <% if(data.length>0){ 
                                                data.forEach(function(row){%>
                                                <option value="<%= row.password_category_name %>" <% if (result.password_category_name == row.password_category_name) {%> selected <%} %>>
                                                        <%= row.password_category_name %></option>
                                                <%  })%>

                                            </select>
                                        </div>  
                                        <div class="form-group">
                                            <label>
                                                <h5>Password Detail:</h5>
                                            </label>
                                            <textarea name="passdetails" class="form-control" id="editor" rows="5"><%= result.password_details  %></textarea>
                                        </div>
                                        <input type="hidden" name="id" value="<%= result._id %>">
                                        <button type="submit" class="btn btn-secondary round">Save Password</button>
                                    </div>
                                </form>
                                <%}%>
                            </div>
                            <div class="card-footer">
                                <p><a href="/viewAllPassword">View All Password List</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
</body>
</html>